<div class="header-nav header-nav-menu py-3">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand" href="index.html">
        <img src="images/logo3.png" alt="logo" style="max-height: 50px;">
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Home
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.html">Home</a></li>
              <li><a class="dropdown-item" href="index-2.html">Our Mission</a></li>
              <li><a class="dropdown-item" href="index-4.html">Get Involved</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Programs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="programs-list.html">Programs List</a></li>
              <li><a class="dropdown-item" href="event-list.html">Event List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Orphans & Widows
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="orphans.html">Orphans & Widows List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Quick Links
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="faq.html">Faq</a></li>
              <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li>
              <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
              <li><a class="dropdown-item" href="volunteer.html">Volunteers</a></li>
              <li><a class="dropdown-item" href="founders.html">Founders and members</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Blog
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
              <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="contact.html">Contact</a>
          </li>
        </ul>


        <div class="d-flex ms-3">
          <a id="authBtn" href="login.html" class="btn btn-outline-dark me-2">Login</a>
          <a href="donation-form.html" class="btn btn-primary">Donate Now</a>
        </div>
      </div>
    </nav>
  </div>
</div>
