<!-- Header Section Start -->
<header class="position-relative z-3">
  <div class="header-top py-1 bg-secondary white">
    <div class="container">
      <div class="header-top-inner">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="header-top-left">
              <ul class="list-unstyled d-flex gap-4 small">
                <li>
                  <i class="fas fa-phone me-2 primary"></i>+254 726 299 430
                </li>
                <li>
                  <i class="far fa-envelope me-2 primary"></i
                  >info@riaorphansfoundation.org
                </li>
                <li>
                  <i class="far fa-clock me-2 primary"></i>Mon - Fri: 9:00 -
                  18:30
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="header-top-left d-flex align-items-center justify-content-end"
            >
              <ul class="list-unstyled d-flex gap-4 me-5 small">
                <li>
                  <a
                    href="https://www.facebook.com/people/RIA-Orphans-Foundation/61583941046523/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://x.com/orphans_ria"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
              <a
                id="authBtn"
                href="login.html"
                class="btn btn-outline-light me-3"
                style="padding: 8px 16px"
                >Login</a
              >
              <a
                href="donation-form.html"
                class="btn-primary"
                style="padding: 10px 20px"
                >Donate Now<i class="fas fa-arrow-right ms-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-nav header-nav-menu py-3" id="header-nav-menu">
    <div class="container">
      <div class="header-nav-inner d-flex justify-content-between">
        <div class="header-logo">
          <a href="index.html"><img src="images/logo3.png" alt="logo" /></a>
        </div>
        <div class="header-nav-right d-flex align-items-center">
          <div
            class="navbar-collapse justify-content-center playfair"
            id="bs-example-navbar-collapse-1"
          >
            <ul
              class="navbar-nav flex-row align-items-center"
              id="responsive-menu"
            >
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text fw-bold active"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Home
                </a>
                <ul class="dropdown-menu bg-lightgrey p-0 rounded-0 border-0">
                  <li>
                    <a
                      class="dropdown-item fw-bold active text-capitalize black border-0"
                      href="index.html"
                      >Home</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="index-2.html"
                      >Our Mission</a
                    >
                  </li>
                  <!-- <li>
                        <a
                          class="dropdown-item fw-bold text-capitalize black border-0"
                          href="index-3.html"
                          >Home 3</a
                        >
                      </li> -->
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="index-4.html"
                      >Get Involved</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text fw-bold" href="about.html">About</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Programs
                </a>
                <ul class="dropdown-menu bg-lightgrey p-0 rounded-0 border-0">
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="programs-list.html"
                      >Programs List</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="event-list.html"
                      >Event List</a
                    >
                  </li>
                  <li>
                    <!-- <a
                          class="dropdown-item fw-bold text-capitalize black border-0"
                          href="orphans.html"
                          >Orphans  & Widows List</a
                        > -->
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Orphans & Widows
                </a>
                <ul class="dropdown-menu bg-lightgrey p-0 rounded-0 border-0">
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="orphans.html"
                      >Orphans & Widows List</a
                    >
                  </li>
                  <!-- <li>
                        <a
                          class="dropdown-item fw-bold text-capitalize black border-0"
                          href="event-detail.html"
                          >Event Details</a
                        >
                      </li> -->
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Quick Links
                </a>
                <ul class="dropdown-menu bg-lightgrey p-0 rounded-0 border-0">
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="faq.html"
                      >Faq</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="testimonial.html"
                      >Testimonials</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="gallery.html"
                      >Gallery</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="volunteer.html"
                      >Volunteers</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="founders.html"
                      >Founders and members</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle fw-bold text fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Blog
                </a>
                <ul class="dropdown-menu bg-lightgrey p-0 rounded-0 border-0">
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="blog-list.html"
                      >Blog List</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item fw-bold text-capitalize black border-0"
                      href="blog-single.html"
                      >Blog Single</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text fw-bold fw-bold" href="contact.html"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <a href="#search1" class="mt_search text px-3">
            <i class="fa fa-search"></i>
          </a>
        </div>
        <div id="slicknav-mobile"></div>
      </div>
    </div>
    <div id="search1" class="search-popup">
      <button type="button" class="close">×</button>
      <form>
        <input type="search" placeholder="Search..." />
        <a class="btn-primary rounded-0 border-0" href="search-result.html">
          <i class="fa fa-search text-white" aria-hidden="true"></i>
        </a>
      </form>
    </div>
  </div>
</header>
<!-- Header Section End -->

